POSTGRES_USER=examhub
POSTGRES_PASSWORD=CHANGE_ME
POSTGRES_DB=examhub
REDIS_PASSWORD=CHANGE_ME
MONGO_INITDB_ROOT_USERNAME=examhub
MONGO_INITDB_ROOT_PASSWORD=CHANGE_ME
MINIO_ROOT_USER=examhub
MINIO_ROOT_PASSWORD=CHANGE_ME
RABBITMQ_DEFAULT_USER=examhub
RABBITMQ_DEFAULT_PASS=CHANGE_ME
